# Fetching and downloading data from the VIEWS API

This notebook allows users to fetch and download large data from the VIEWS API, uninhibited by the API's page limit. 

No certificates/special access tokens are required.

In [1]:
import requests
import pandas as pd
import json

## Define the dataset of interest

Please consult https://github.com/prio-data/views_api for guidance.

In [2]:
# Define the URL you want to fetch data from. Please consult https://github.com/prio-data/views_api to learn more about filtering out the data of interest and creating the corresponding URL. 

#This url is for the CM Model
VIEWS_URL='https://api.viewsforecasting.org/fatalities001_2022_11_t01/cm/'

# This URL is for the PGM model: 
# VIEWS_URL='https://api.viewsforecasting.org/fatalities001_2022_09_t01/pgm/'

## Static functions

No need to edit this section.

In [3]:
# Request function
r = requests.get(VIEWS_URL)

In [4]:
#The set page size 
PAGE_SIZE=1000

In [5]:
#Define the full request 
req_url=VIEWS_URL+'/'+str()+'?'+'pagesize='+str(PAGE_SIZE)
    
master_list=[]
r=requests.get(req_url)
page_data=r.json()

In [6]:
list(page_data)

['next_page',
 'prev_page',
 'model_tree',
 'models',
 'row_count',
 'page_count',
 'page_cur',
 'start_date',
 'end_date',
 'data']

In [7]:
# The loop to keep fetching pages until all data is accessed 

master_list+=page_data['data']
    
while page_data['next_page'] != '':
    r=requests.get(page_data['next_page'])
    page_data=r.json()

    master_list+=page_data['data']
        
df=pd.DataFrame(master_list)

## Inspect the data

In [8]:
# Inspect the data to see that it looks correct

display(df)

,country_id,month_id,name,gwcode,isoab,year,month,sc_cm_sb_surrogate_imr,sc_cm_sb_main,sc_cm_sb_surrogate_nch,sc_cm_sb_surrogate_dem,sc_cm_sb_surrogate_ch,sc_cm_sb_surrogate_pop,sc_cm_sb_dich_main,sc_cm_sb_surrogate_topic10
0,1,516,Guyana,110,GUY,2022,12,0.6012,0.0105,0.7387,0.7119,0.0650,-0.0045,0.0025,-0.0356
1,2,516,Suriname,115,SUR,2022,12,0.4702,0.0064,0.1842,0.0798,0.0650,0.0075,0.0025,0.0273
2,3,516,Trinidad and Tobago,52,TTO,2022,12,0.4624,0.0062,0.0992,0.0725,0.0650,-0.0173,0.0025,0.4678
3,4,516,Venezuela,101,VEN,2022,12,0.5536,0.2208,0.8956,1.0129,0.0650,1.0551,0.0037,0.1780
4,5,516,Samoa,990,WSM,2022,12,0.4019,0.0062,0.0992,0.2365,0.0650,0.0234,0.0025,-0.0437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6871,242,551,Tanzania,510,TZA,2025,11,1.0199,1.1924,3.1306,1.2289,0.2420,1.9908,0.0256,0.1393
6872,243,551,Morocco,600,MAR,2025,11,0.7848,0.5705,0.2913,1.5158,0.2420,1.6352,0.0129,0.3805
6873,244,551,Mauritania,435,MRT,2025,11,1.2903,0.2339,2.1841,1.7073,0.2420,0.2733,0.0089,0.6585
6874,245,551,Sudan,625,SDN,2025,11,1.0858,2.4880,2.9843,1.4760,3.3296,1.7636,0.1015,1.1469
6875,246,551,South Sudan,626,SSD,2025,11,1.7939,3.2448,3.1060,1.2675,0.2420,0.6902,0.2094,0.3800

## Save as .csv

In [13]:
import os
home = os.path.expanduser("~")

# Specify where you want to save the data, else it is saved to your desktop. 

path = home+'/Desktop/VIEWS_new/api_data/'

In [22]:
df.to_csv(path+'latest_run.csv', sep=';', encoding='utf-8', index=True)

In [ ]:
## Filter for a specific country

Kenya_run = df